<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Register</title>

    <style>
        .card {
            background-color: #000000;
        }
    </style>
</head>

<body>

<div class="d-flex justify-content-center align-items-center" style="height:100vh">
    <div class="card">
        <div class="card-body">
            <form action="#" th:action="@{/save}" th:object="${user}" method="post">
                <h3>Registration</h3>
                <input type="text" th:field="*{username}" placeholder="User Name" /> <br /><br />
                <input type="password" th:field="*{password}" placeholder="Password" /> <br /><br />
                <div class="d-flex justify-content-center align-items-center">
                    <select th:field="*{role}" required>
                        <option value="">Select</option>
                        <option value="PROFESSOR">PROFESSOR</option>
                        <option value="STUDENT">STUDENT</option>
                    </select>
                </div>
                <br />

                <button type="submit" class="btn btn-info col-6">Register</button>
                <a th:href="@{/login}" class="btn btn-primary col-5"> Login</a>

                <div th:if="${param.error}"><p>Registration Error.</p></div> <br />

                <span th:utext="${successMessage}"></span>
            </form>
        </div>
    </div>
</div>

</body>

</html>
