<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Subject List</title>

    <style>
        body {
            background-color: #272f5e;
            color: #fff;
        }
        .btn-secondary {
            background-color: darkred;
            color: white;
        }

        .btn-primary:hover {
            background-color: darkblue;
            color: white;
            transform: translateY(-3px);
        }
        .btn-secondary:hover {
            background-color: #381616;
            color: white;
            transform: translateY(-3px);
        }

    </style>
</head>


<body>

<div class="container">
    <h3>Subject List</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Subject Name</th>
            <th>Objective</th>
            <th>Semester</th>
            <th>Applications</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over each subject and display its details -->
        <tr th:each="subject : ${subjects}">
            <td th:text="${subject.subject_name}"></td>
            <td th:text="${subject.objective}"></td>
            <td th:text="${subject.semester}"></td>
            <td>
                <form th:action="@{/professor/viewApplications}" method="post">
                    <input type="hidden" name="subject_id" th:value="${subject.subject_id}"/>
                    <button type="submit" class="btn btn-primary">Applications</button>
                </form>
            </td>
            <td>
                <form th:action="@{/professor/deleteSubject}" method="post">
                    <input type="hidden" name="subject_id" th:value="${subject.subject_id}"/>
                    <button type="submit" class="btn btn-secondary">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a href="/professor/dashboard" class="btn btn-secondary float-right mb-3"  role="button">Professor Dashboard</a>
    </div>
</div>

</body>
</html>